# Python bytecode files
__pycache__/
*.pyc
*.pyo


# Virtual environments
.venv/
venv/

# IDE and editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.vscode/

# System-specific files
.DS_Store
Thumbs.db

# Environment variables
.env

# Pytest or other testing tools
*.cover
*.coverage
*.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Node.js dependencies (if using Node.js with Django for frontend)
node_modules/

# Log files
*.log

